/* Enter your custom styles here */
.tableCSS td:nth-child(n+3){
    text-align: right !important;
}

.tableCSS th {
    text-align: center !important;
}

.packingTableCSS td:nth-child(n+2){
    text-align: right !important;
}